// Navigation Styles here

.navBar { 
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed @navigation-border;
    box-sizing: border-box;
    padding-bottom: 30px;

   h1 {
        box-sizing: border-box;
        padding-top: 20px;
        padding-left: 20%;
   }

   nav {
       box-sizing: border-box;
       padding-top: 35px;
       padding-right: 20%;
      
   } 
   
   a {
           color: black;
           font-size: 1.4rem;
           text-decoration: none;
           box-sizing: border-box;
           padding-right: 30px;
       }
}